<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goHome()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Mis Videojuegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let v of videogames">
      <img *ngIf="v.filename" src="http://localhost:4000/images/{{v.filename}}" alt="image_portada" />
      <ion-card-header>
        <ion-card-title>{{ v.title }}</ion-card-title>
        <ion-card-subtitle>{{ v.developer }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-chip color="secondary">{{ v.genre }}</ion-chip>
        <p class="price">{{ v.price | currency:'USD' }}</p>
        <p>Descripción: </p>
        <p>{{ v.description }}</p>
        <p>Requisitos: </p>
        <p>{{ v.requirements }}</p>
        <ion-buttons>
          <ion-button fill="outline" color="primary" (click)="gotToEditVideogame(v.id)">
            <ion-icon slot="start" name="create-outline"></ion-icon>Editar
          </ion-button>
          <ion-button fill="outline" color="danger" (click)="deleteVideogame(v.id)">
            <ion-icon slot="start" name="trash-outline"></ion-icon>Borrar
          </ion-button>
        </ion-buttons>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToAddVideogame()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-footer>
    <ion-toolbar>
      <ion-title>
        Ha iniciado sesión
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="logout()" color="danger" fill="outline">
          Cerrar sesión
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>


<!--
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>my-videogames</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let v of videogames">
      <ion-label>
        <h1>{{v.title}}</h1>
        <p>{{v.genre}}</p>
        <p>{{v.developer}}</p>
        <p>{{v.price}}</p>
        <p>{{v.description}}</p>
        <p>{{v.requirements}}</p>
        <ion-buttons slot="end">
          <ion-button (click)="gotToEditVideogame(v.id)">Editar</ion-button>
          <ion-button (click)="deleteVideogame(v.id)">Borrar</ion-button>
        </ion-buttons>
      </ion-label>
    </ion-item>
    <ion-button expand="block" color="primary" (click)="goToAddVideogame()">
      Agregar videojuego
    </ion-button>
    <ion-button expand="block" color="primary" (click)="goHome()">
      Regresar
    </ion-button>
  </ion-list>
</ion-content>
-->

<!--
  <div class="actions">
    <ion-button expand="block" color="success" (click)="goToAddVideogame()">Agregar videojuego</ion-button>
    <ion-button expand="block" color="medium" (click)="goHome()">Regresar</ion-button>
  </div>
  -->