<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Catálogo de Videojuegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>¡BIENVENIDO!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-img src="../../assets/welcome_background.jpg"
          alt="Sean bienvenidos"></ion-img>
      </ion-card-content>
    </ion-card>
    <ion-button expand="block" (click)="goToMyVideogames()" color="primary">
      Enseñar videojuegos
    </ion-button>
  </div>
</ion-content>


<!--
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1 class="title">Title: {{title}}</h1>
    <p>Genre: {{genre}}</p>
    <p>Developer: {{developer}}</p>
    <p>Price: {{price}}</p>
    <p>Description: {{description}}</p>
    <p>Requirements: {{requirements}}</p>
  </div>

  <ion-button expand="block" (click)="goToMyVideogames()">
    Enseñar videojuegos
  </ion-button>
</ion-content>
-->