.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;

}

ion-content {
  --background: url('../../assets/home_background_1.jpg') no-repeat center center / cover fixed;
}

ion-card {
  width: 100%;
  max-width: 440px;
  margin-bottom: 1.5rem;
}

ion-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: .4rem;
}

.price {
  color: #3880ff;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0.5rem 0;
}

.desc {
  margin-top: 1rem;
  color: #222;
}

.req {
  color: #666;
  font-size: 0.95em;
  display: flex;
  align-items: center;
}

ion-chip {
  margin-bottom: 0.5rem;
}



/*

*/