ion-input, ion-item {
  font-size: 1rem;
  min-width: 0;
  width: 100%;
}

ion-col {
  text-align: center;
  max-width: 520px;
  margin: 0 auto;
}

.form-note {
  font-size: 0.9rem;
}

@media (max-width: 600px) {
  ion-col {
    max-width: 98vw;
    padding: 0 0.4rem;
  }
}
