form {
    padding: 1rem;
    
}

ion-content {
    --background: url('../../assets/videogame-form_background.jpg') no-repeat center center / cover fixed;

}

ion-item {
    margin-bottom: 0.8rem;
}

ion-note[color="danger"] {
    font-size: 0.9em;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
}

ion-button {
    margin-top: 1rem;
}

ion-col {
  text-align: center;
}

.photo-frame {
  margin: 5vw;
  border: black solid 1px;
  width: 40vw;
  border-radius: .25em;
}

.error {
  color: red;
}